body{
    margin: 0px;
    background-color: rgb(37, 37, 37);
    text-align: center;
}
*{
    box-sizing: border-box;
    position: relative;
}

h1{
    color: white;
}
p{
    font-family: arial;
    margin: 20px;
    color: rgb(115, 213, 252);
    width: 300px;
    height: fit-content;
    left: calc(50vw - 150px);
}
#sla{
    text-align: center;
}